# 🧠 AMBIENTE VIRTUAL
venv/
.venv/
.env/
.env.bak/
*.env
Lib/
# 🧱 ARQUIVOS DE COMPILAÇÃO E CACHE PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.bak
*.swp

# 🧩 ARQUIVOS DO PYINSTALLER
build/
dist/
*.spec

# 🔥 ARQUIVOS TEMPORÁRIOS DO PYINSTALLER (quando executado)
*.manifest
*.dll
*.exe

# 🧰 CONFIGURAÇÕES DE SISTEMA
.DS_Store
Thumbs.db
desktop.ini

# 📦 DEPENDÊNCIAS GERADAS (não versionar pacotes)
*.egg-info/
*.egg
*.whl

# 📄 ARQUIVOS GERADOS PELO PROGRAMA

*.csv
*.xlsx
*.xls
*.json


# 📂 RESULTADOS DO TABULA OU LOGS
output/
reports/
logs/

# ⚙️ ARQUIVOS DE IDEs
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

*.xlsx
main.spec