name: Build Windows EXE

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "11"

      - name: Verificar Java
        run: java -version

      - name: Instalar dependências Python
        run: |
          python -m pip install --upgrade pip
          pip install pandas jpype1 tabula-py openpyxl pdfplumber pyinstaller

      - name: Gerar executável
        run: pyinstaller --onefile --hidden-import=jpype --hidden-import=tabula-py --hidden-import=openpyxl --add-data "%PythonSitePackages%\tabula\tabula-1.0.5-jar-with-dependencies.jar;tabula" main.py

      - name: Salvar executável
        uses: actions/upload-artifact@v4
        with:
          name: windows-exe
          path: dist/*.exe
